{% extends "base_template.html" %}
{% load static %}

{% block title %}Lojas - Super Mercado{% endblock %}

{% block stylesheets %}{% endblock %}

{% block scripts %}<script src="{% static 'js/button-like.js' %}"></script>{% endblock %}

{% block body %}
    <!--img noticias-->
    <div>
        <img class="w-100" src="{% static 'images/noticias-page.png' %}" alt="">
    </div>

    <!--notícias-->
    <div class="p-5 d-flex justify-content-center">
        <div class="container">

            <div class="row">
                {% for noticia in noticias %}
                <div class="col-sm-6 d-flex align-items-stretch mb-3 mb-sm-none">
                    <div style="box-shadow: none !important;" class="card card-reto card-limpo">
                        <a href="noticias/noticia-1.html" aria-current="page"><img class="card-img-top w-100" src="{% static 'images/' %}{{ noticia.imagem }}" alt="{{ noticia.slug }}"></a>
                        <div class="card-body p-0">
                            <div class="caption d-flex">
                                <a href="noticias/noticia-1.html" style="color: #e74d57" class="nav-link navbar-item-hover"
                                    aria-current="page">
                                    <b style="font-size: 0.7em;">{{ noticia.data }}</b>
                                </a>

                                <!--botão de like-->
                                <div id="n{{ noticia.id }}" class="pt-2">
                                    <span id="like-n{{ noticia.id }}" class="badge bg-primary" data-like="{{ noticia.likes }}">{{ noticia.likes }}</span><a class="ps-1 pe-1" id="like-btn-n{{ noticia.id }}" data-clicked="false" type="button" onclick="like_click('n{{ noticia.id }}')" style="color: #0d6efd"><i id="like-icon-n{{ noticia.id }}" class="far fa-thumbs-up"></i></a><span id="dislike-n{{ noticia.id }}" class="badge bg-primary"  data-dislike="{{ noticia.deslikes }}">{{ noticia.deslikes }}</span><a class="ps-1 pe-1" id="dislike-btn-n{{ noticia.id }}" data-clicked="false" type="button" onclick="dislike_click('n{{ noticia.id }}')" style="color: #0d6efd"><i id="dislike-icon-n{{ noticia.id }}" class="far fa-thumbs-down"></i></a>
                                </div>
                            </div>

                            <div class="caption">
                                <a href="noticias/noticia-1.html" style="color: rgb(65, 65, 65);" class="nav-link navbar-item-hover"
                                    aria-current="page">
                                    <h4><b>{{ noticia.titulo }}</b></h4>
                                </a>
                            </div>

                            <div class="caption">
                                <p style="color:rgb(133, 133, 133); font-size: 0.9em" class="nav-link">
                                    {{ noticia.desc_mini }}
                                </p>
                            </div>

                        </div>
                        <div class="card-footer p-0 footer-limpo">
                            <div class="caption">
                                <a href="noticias/noticia-1.html" style="color: rgb(65, 65, 65);" class="nav-link navbar-item-hover"
                                    aria-current="page">
                                    <p class="display-1" style="font-size: 0.80em;">VEJA MAIS</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>

            <!--pagination-->
            <div class="row">
                {% if noticias.has_other_pages %}
                <nav aria-label="page navigation">
                    <ul class="pagination justify-content-center">

                        {% if noticias.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?pagina={{ noticias.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}

                            {% for i in noticias.paginator.page_range %}
                                {% if noticias.number == i %}
                                    <li class="page-item active disabled" aria-current="page"><a class="page-link" href="#">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?pagina={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            
                            {% if noticias.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?pagina={{ noticias.next_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}