{% extends "base_template.html" %}
{% load static %}


{% block title %}Inicio - Super Mercado{% endblock %}

{% block stylesheets %}{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){

            // cria uma requisição ajax baseado no #id do botão de like
            $("#lista_noticias").on("click", ".btn-like-click", function(event) {
                event.preventDefault();

                let total_like = 0;
                let total_dislike = 0;

                let btn_like = $(this);
                // recupera o botão de like clicado

                let icon_like = btn_like.children('i');
                // recupera o icone do botão de like clicado

                let form_like = btn_like.parent();
                // recupera o formulário do botão de like clicado

                let span_like = form_like.prev();
                // recupera o span que mostra o número de like do botão de like clicado

                let form_dislike = form_like.next().next();
                // recupera o formulário do botão de dislike referente ao botão de like clicado

                let span_dislike = form_dislike.prev();
                // recupera o span que mostra o número de dislike referente ao botão de like clicado

                let btn_dislike = form_dislike.children('a');
                // recupera o botão de dislike referente ao botão de like clicado
                
                
                let icon_dislike = btn_dislike.children('i');
                // recupera o icone do botão de dislike referente ao botão de like clicado

                let form_data = form_like.serializeArray();
                // recupera os dados do formulário do botão de like clicado, no caso cada os inputs

                let click = btn_like.data("clicked");
                // checa se a data do botão de like é 'clicked'

                if (!click) {
                    // se não for
                    let click_dislike = btn_dislike.data("clicked");
                    // checa se a data do botão de dislike é 'clicked'
                    if (click_dislike) {
                        // se for
                        let dislikes_qtd = parseInt(span_dislike.text()) - 1
                        span_dislike.text(dislikes_qtd);
                        btn_dislike.data("clicked", false);
                        icon_dislike.removeClass("fas");
                        // diminui 1 na quantidade de dislikes e 'desclica' o botão
                        total_dislike = -1;
                    }

                    let likes_qtd = parseInt(span_like.text()) + 1
                    span_like.text(likes_qtd);
                    btn_like.data("clicked", true);
                    icon_like.addClass("fas");
                    // aumenta 1 na quantidade de likes e 'clica' o botão
                    total_like = 1;

                }
                else {
                    // se o botão de like estiver clicado
                    let likes_qtd = parseInt(span_like.text()) - 1
                    span_like.text(likes_qtd);
                    btn_like.data("clicked", false);
                    icon_like.removeClass("fas");
                    // diminui 1 na quantidade de likes e 'desclica' o botão
                    total_like = -1

                }

                // envia uma requisição post para /alterar_like_noticia/
                $.ajax({
                    type: 'POST',
                    url: '/pages/alterar_like_noticia/',
                    data: {
                        id: form_data[1]['value'],
                        // pega o input[1] que é o id, e recupera o valor #id
                        like: String(total_like),
                        dislike: String(total_dislike),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        dataType: "json"
                    },
                    success: function(response) {
                    }
                });

                
            });


            // cria uma requisição ajax baseado no #id do botão de dislike
            $("#lista_noticias").on("click", ".btn-dislike-click", function(event) {
                event.preventDefault();
                
                let total_like = 0;
                let total_dislike = 0;

                let btn_dislike = $(this)
                // recupera o botão de dislike clicado

                let icon_dislike = btn_dislike.children('i');
                // recupera o icone do botão de dislike clicado

                let form_dislike = btn_dislike.parent();
                // recupera o formulário do botão de dislike clicado

                let span_dislike = form_dislike.prev();
                // recupera o span que mostra o número de dislike do botão de dislike clicado

                let form_like = form_dislike.prev().prev();
                // recupera o formulário do botão de like referente ao botão de dislike clicado

                let span_like = form_like.prev();
                // recupera o span que mostra o número de like referente ao botão de dislike clicado

                let btn_like = form_like.children('a');
                // recupera o botão de like referente ao botão de dislike clicado
                
                let icon_like = btn_like.children('i');
                // recupera o icone do botão de like referente ao botão de dislike clicado

                let form_data = form_dislike.serializeArray();
                // recupera os dados do formulário do botão de dislike clicado, no caso cada os inputs

                let click = btn_dislike.data("clicked");

                if (!click) {
                    let click_like = btn_like.data("clicked");
                    if (click_like) {
                        let likes_qtd = parseInt(span_like.text()) - 1
                        span_like.text(likes_qtd);
                        btn_like.data("clicked", false);
                        icon_like.removeClass("fas");

                        total_like = -1
                    }

                    let dislikes_qtd = parseInt(span_dislike.text()) + 1
                    span_dislike.text(dislikes_qtd);
                    btn_dislike.data("clicked", true);
                    icon_dislike.addClass("fas");

                    total_dislike = 1

                }
                else {
                    let dislikes_qtd = parseInt(span_dislike.text()) - 1
                    span_dislike.text(dislikes_qtd);
                    btn_dislike.data("clicked", false);
                    icon_dislike.removeClass("fas");

                    total_dislike = -1
                }

                // envia uma requisição post para /alterar_like_noticia/
                $.ajax({
                    type: 'POST',
                    url: '/pages/alterar_like_noticia/',
                    data: {
                        id: form_data[1]['value'],
                        // pega o input[1] que é o id, e recupera o valor #id
                        like: String(total_like),
                        dislike: String(total_dislike),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        dataType: "json"
                    },
                    success: function(response) {
                    }
                });

                
            });


            // cria uma requisição ajax baseado no #id do botão de like
            $("#lista_receitas").on("click", ".btn-like-click", function(event) {
                event.preventDefault();

                let total_like = 0;
                let total_dislike = 0;

                let btn_like = $(this);
                console.log(btn_like.html())
                // recupera o botão de like clicado

                let icon_like = btn_like.children('i');
                // recupera o icone do botão de like clicado

                let form_like = btn_like.parent();
                // recupera o formulário do botão de like clicado

                let span_like = form_like.prev();
                // recupera o span que mostra o número de like do botão de like clicado

                let form_dislike = form_like.next().next();
                // recupera o formulário do botão de dislike referente ao botão de like clicado

                let span_dislike = form_dislike.prev();
                // recupera o span que mostra o número de dislike referente ao botão de like clicado

                let btn_dislike = form_dislike.children('a');
                // recupera o botão de dislike referente ao botão de like clicado
                
                
                let icon_dislike = btn_dislike.children('i');
                // recupera o icone do botão de dislike referente ao botão de like clicado

                let form_data = form_like.serializeArray();
                // recupera os dados do formulário do botão de like clicado, no caso cada os inputs

                let click = btn_like.data("clicked");
                // checa se a data do botão de like é 'clicked'

                if (!click) {
                    // se não for
                    let click_dislike = btn_dislike.data("clicked");
                    // checa se a data do botão de dislike é 'clicked'
                    if (click_dislike) {
                        // se for
                        let dislikes_qtd = parseInt(span_dislike.text()) - 1
                        span_dislike.text(dislikes_qtd);
                        btn_dislike.data("clicked", false);
                        icon_dislike.removeClass("fas");
                        // diminui 1 na quantidade de dislikes e 'desclica' o botão
                        total_dislike = -1;
                    }

                    let likes_qtd = parseInt(span_like.text()) + 1
                    span_like.text(likes_qtd);
                    btn_like.data("clicked", true);
                    icon_like.addClass("fas");
                    // aumenta 1 na quantidade de likes e 'clica' o botão
                    total_like = 1;

                }
                else {
                    // se o botão de like estiver clicado
                    let likes_qtd = parseInt(span_like.text()) - 1
                    span_like.text(likes_qtd);
                    btn_like.data("clicked", false);
                    icon_like.removeClass("fas");
                    // diminui 1 na quantidade de likes e 'desclica' o botão
                    total_like = -1

                }
                // envia uma requisição post para /alterar_like_receita/
                $.ajax({
                    type: 'POST',
                    url: '/pages/alterar_like_receita/',
                    data: {
                        id: form_data[1]['value'],
                        // pega o input[1] que é o id, e recupera o valor #id
                        like: String(total_like),
                        dislike: String(total_dislike),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        dataType: "json"
                    },
                    success: function(response) {
                    }
                });

                
            });


            // cria uma requisição ajax baseado no #id do botão de dislike
            $("#lista_receitas").on("click", ".btn-dislike-click", function(event) {
                event.preventDefault();
                
                let total_like = 0;
                let total_dislike = 0;

                let btn_dislike = $(this)
                // recupera o botão de dislike clicado

                let icon_dislike = btn_dislike.children('i');
                // recupera o icone do botão de dislike clicado

                let form_dislike = btn_dislike.parent();
                // recupera o formulário do botão de dislike clicado

                let span_dislike = form_dislike.prev();
                // recupera o span que mostra o número de dislike do botão de dislike clicado

                let form_like = form_dislike.prev().prev();
                // recupera o formulário do botão de like referente ao botão de dislike clicado

                let span_like = form_like.prev();
                // recupera o span que mostra o número de like referente ao botão de dislike clicado

                let btn_like = form_like.children('a');
                // recupera o botão de like referente ao botão de dislike clicado
                
                let icon_like = btn_like.children('i');
                // recupera o icone do botão de like referente ao botão de dislike clicado

                let form_data = form_dislike.serializeArray();
                // recupera os dados do formulário do botão de dislike clicado, no caso cada os inputs

                let click = btn_dislike.data("clicked");

                if (!click) {
                    let click_like = btn_like.data("clicked");
                    if (click_like) {
                        let likes_qtd = parseInt(span_like.text()) - 1
                        span_like.text(likes_qtd);
                        btn_like.data("clicked", false);
                        icon_like.removeClass("fas");

                        total_like = -1
                    }

                    let dislikes_qtd = parseInt(span_dislike.text()) + 1
                    span_dislike.text(dislikes_qtd);
                    btn_dislike.data("clicked", true);
                    icon_dislike.addClass("fas");

                    total_dislike = 1

                }
                else {
                    let dislikes_qtd = parseInt(span_dislike.text()) - 1
                    span_dislike.text(dislikes_qtd);
                    btn_dislike.data("clicked", false);
                    icon_dislike.removeClass("fas");

                    total_dislike = -1
                }

                // envia uma requisição post para /alterar_like_receita/
                $.ajax({
                    type: 'POST',
                    url: '/pages/alterar_like_receita/',
                    data: {
                        id: form_data[1]['value'],
                        // pega o input[1] que é o id, e recupera o valor #id
                        like: String(total_like),
                        dislike: String(total_dislike),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        dataType: "json"
                    },
                    success: function(response) {
                    }
                });

                
            });




            
        });
    </script>
{% endblock %}

{% block body %}
    <!-- carousel principal (desktop)-->
    <div id="carousel-desktop" class="d-none d-sm-block carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="{% static 'images/carousel-1-banner-1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'images/carousel-1-banner-2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'images/carousel-1-banner-3.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'images/carousel-1-banner-4.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'images/carousel-1-banner-5.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'images/carousel-1-banner-6.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'images/carousel-1-banner-7.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <!--carousel principal(mobile)-->
    <div id="carousel-mobile" class="d-block d-sm-none carousel slide " data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="{% static 'images/carousel-2-banner-1.jpg' %}" class="d-block w-90 mx-auto" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'images/carousel-2-banner-2.jpg' %}" class="d-block w-90 mx-auto" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'images/carousel-2-banner-3.jpg' %}" class="d-block w-90 mx-auto" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'images/carousel-2-banner-4.jpg' %}" class="d-block w-90 mx-auto" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'images/carousel-2-banner-5.jpg' %}" class="d-block w-90 mx-auto" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'images/carousel-2-banner-6.jpg' %}" class="d-block w-90 mx-auto" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'images/carousel-2-banner-7.jpg' %}" class="d-block w-90 mx-auto" alt="...">
            </div>
        </div>
    </div>

    <!--cartoes-->
    <div class="pt-5 pb-4 pb-sm-5" style="background-color: #52b913;">
        <div class="container">

            <div class="row">

                <div class="col-md-4 d-flex align-items-stretch mb-3 mb-sm-none">
                    <div style="background-color: #002945;" class="card card-reto border-0 ms-2 me-2 mb-2 w-100">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img class="media " src="{% static 'images/inicio-cards-logo-1.png' %}" alt="">
                            </div>
                            <h5 class="card-text text-justify" style="color: #fff">Pediu? Chegou!</h5>
                            <p class="card-text text-justify" style="color: #fff">Faça suas compras sem sair de casa e
                                ganhe frete grátis no primeiro pedido.</p>
                        </div>
                        <div class="card-footer footer-limpo text-center">
                            <a href="/acessar-site" class="ps-3 pe-3 pt-0 pb-1 btn btn-logo">
                                <div><i class=" m-0 d-inline fas fa-xs fa-shopping-cart"></i>
                                    <h6 style="font-size: 0.8em" class="m-0 d-inline"> Acessar</h6>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 d-flex align-items-stretch mb-3 mb-sm-none">
                    <div style="background-color: #b91413;"
                        class="card text-center card-reto border-0 ms-2 me-2 mb-2 w-100">
                        <div class="card-body">
                            <img class="media" src="{% static 'images/inicio-cards-logo-2.png' %}" alt="">
                            <h5 class="card-text text-justify" style="color: #fff">Quer ter ofertas especiais?</h5>
                            <p class="card-text text-justify" style="color: #fff">Seja Plus e garanta benefícios feitos
                                especialmente para você.</p>
                        </div>

                        <div class="card-footer footer-limpo text-center">
                            <a href="/cadastrar" style="background-color: #fff;"
                                class="ps-3 pe-3 pt-0 pb-1 btn btn-logo">
                                <div style="color:#b91413;"><i class=" m-0 d-inline fas fa-xs fa-shopping-cart"></i>
                                    <h6 style="font-size: 0.8em" class="m-0 d-inline"> Acessar</h6>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 d-flex align-items-stretch mb-3 mb-sm-none">
                    <div style="background-color: #002945;"
                        class="card text-center card-reto border-0 ms-2 me-2 mb-2 w-100">
                        <div class="card-body">
                            <img class="media " src="{% static 'images/inicio-cards-logo-3.png' %}" alt="">
                            <h5 class="card-text text-justify" style="color: #fff">Ofertas na palma da sua mão.</h5>
                            <p class="card-text text-justify" style="color: #fff">Envie OFERTAS para nosso WhatsApp e
                                receba
                                encartes e promoções.</p>
                        </div>

                        <div class="card-footer footer-limpo text-center">
                            <a href="/acessar-site" class="ps-3 pe-3 pt-0 pb-1 btn btn-logo">
                                <div><i class=" m-0 d-inline fas fa-xs fa-shopping-cart"></i>
                                    <h6 style="font-size: 0.8em" class="m-0 d-inline"> Acessar</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!--thumbnail cartaz-->
    <div class="container pt-5">
        <h1 style="font-size: calc(2em + 2vw);" class="text-center mb-4"><b>OFERTAS</b></h1>

        <!--thumbnail-->
        <div class="row d-flex justify-content-center mb-5">
            <div class="col-sm-12 col-md-6">
                <div class="img-thumbnail">
                    <a href="#modalthumbnail" data-bs-toggle="modal" class="thumbnail">
                        <img src="{% static 'images/encarte.png' %}" class="w-100" alt="...">
                    </a>
                    <div class="caption text-center p-2">
                        <a href="/site-mercado" style="color: rgb(65, 65, 65);" class="nav-link navbar-item-hover"
                            aria-current="page">
                            <h5>Ofertas válidas de 30 de outubro até 04 de novembro ou enquanto durarem nossos
                                estoques</h5>
                        </a>
                    </div>
                    <div class="caption text-center p-2">
                        <a href="https://redemarket.net/wp-content/uploads/2021/10/ENCARTE_A2_30-OUTUBRO-A-01-NOVEMBRO.pdf"
                            style="color: rgb(65, 65, 65);" class="nav-link navbar-item-hover" aria-current="page">
                            <p style="font-size: 0.85em;">BAIXAR ENCARTE COMPLETO</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--modal dentro da thumbnail-->
        <div class="modal fade" id="modalthumbnail">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body m-0 p-0">
                        <img src="{% static 'images/encarte.png' %}" width="100%" height="100%" alt="...">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--logo market plus-->
    <div class="p-5 d-flex justify-content-center" style="background-color: #b91413;">
        <img class="m-5" src="{% static 'images/logo-plus-1.png' %}" alt="logo-plus-1">
    </div>

    <!--receitas-->
    <div class="p-5 d-flex justify-content-center" style="background: linear-gradient(180deg, #52b913 50%, #fff 50%);">
        <div class="container">


            <div id="lista_receitas" class="row">

                <h1 style="font-size: calc(2em + 2vw);" class="text-center mb-4"><b>RECEITAS</b></h1>

                {% for receita, receita_form in receitas %}
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-3 mb-sm-none">
                        <div class="card receita-border card-hover navbar-item-hover">
                            <a href="{% url 'receitas:receita' id=receita.id slug=receita.slug %}"><img id="card-img" class="card-img-top" src="{% static 'images/' %}{{ receita.imagem }}"
                                    alt="Card image cap"></a>
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <a href="{% url 'receitas:receita' id=receita.id slug=receita.slug %}" style="color: rgb(65, 65, 65);"
                                                class="nav-link navbar-item-hover p-0 pt-2 pb-2" aria-current="page" href="/index.html">
                                                <strong style="font-size: 1.3em">{{ receita.titulo }}</strong>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-8 col-lg-10 col-xl-8 my-auto">
                                            <!--botão de like-->
                                            <div id="r{{ receita.id }}" class="pt-2">
                                                <span class="badge bg-primary">{{ receita.likes }}</span>
                                                <form class="d-inline-block" action="" method="POST">
                                                    {% csrf_token %}
                                                    {{ receita_form.receita_id }}
                                                    <!-- <input type="hidden" name="receita_id" value="{id_da_receita}" id="id_receita_id"> -->
                                                    <a class="ps-1 pe-1 btn-like-click" data-clicked="false" type="button" style="color: #0d6efd">
                                                        <i class="far fa-thumbs-up"></i>
                                                    </a>
                                                </form>
                                                <span class="badge bg-primary">{{ receita.deslikes }}</span>
                                                <form class="d-inline-block" action="" method="POST">
                                                    {% csrf_token %}
                                                    {{ receita_form.receita_id }}
                                                    <!-- <input type="hidden" name="receita_id" value="{id_da_receita}" id="id_receita_id"> -->
                                                    <a class="ps-1 pe-1 btn-dislike-click" data-clicked="false" type="button" style="color: #0d6efd">
                                                        <i class="far fa-thumbs-down"></i>
                                                    </a>
                                                </form>
                            
                                            </div>
                                        </div>
                                        <div class="col-4 col-lg-2 col-xl-4 my-auto">
                                            <a id="btn-card" type="button" href="{% url 'receitas:receita' id=receita.id slug=receita.slug %}" class="btn-receita">

                                                <i id="btn-inside" class="fas fa-angle-right"></i>
                                            </a>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}





            </div>
        </div>

    </div>

    <!--envie ofertas-->
    <div style="color:white; background-color: #25d366">
        <div class="container p-5">
            <div class="row mb-5 mt-5">
                <div class="col-md-8 col-lg-9 my-auto">
                    <p style="font-size: 1.8em" class="display-6">Envie Ofertas para nosso WhatsApp e receba encartes e
                        promoções.</p>
                </div>
                <div class="col-md-4 col-lg-3 my-auto">
                    <a href="/zap" class="btn btn-zap">
                        <div>
                            <i class=" m-0 d-inline fab fa-whatsapp"></i>
                            <h6 class="m-0 d-inline"><b> Enviar</b></h6>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <!--notícias-->
    <div class="p-5 d-flex justify-content-center">
        <div class="container">


            <div id="lista_noticias" class="row">

                <h1 style="font-size: calc(2em + 2vw);" class="text-center mb-4"><b>NOTÍCIAS</b></h1>

                {% for noticia, noticia_form in noticias %}
                    <div class="col-sm-6 d-flex align-items-stretch mb-3 mb-sm-none">
                        <div style="box-shadow: none !important;" class="card card-reto card-limpo">
                            <a href="{% url 'noticias:noticia' id=noticia.id slug=noticia.slug %}" aria-current="page"><img class="card-img-top w-100" src="{% static 'images/' %}{{ noticia.imagem }}" alt="{{ noticia.slug }}"></a>
                            <!-- pode ser também /pages/noticias/noticia/{{ noticia.id }}/-->
                            <div class="card-body p-0">
                                <div class="caption d-flex">
                                    <a href="{% url 'noticias:noticia' id=noticia.id slug=noticia.slug %}" style="color: #e74d57" class="nav-link navbar-item-hover"
                                        aria-current="page">
                                        <b style="font-size: 0.7em;">{{ noticia.data|date:'d/m/Y' }}</b>
                                    </a>

                                    <!--botão de like-->
                                    <div id="n{{ noticia.id }}" class="pt-2">
                                        <span class="badge bg-primary">{{ noticia.likes }}</span>
                                        <form class="d-inline-block" action="" method="POST">
                                            {% csrf_token %}
                                            {{ noticia_form.noticia_id }}
                                            <!-- <input type="hidden" name="noticia_id" value="{id_da_noticia}" id="id_noticia_id"> -->
                                            <a class="ps-1 pe-1 btn-like-click" data-clicked="false" type="button" style="color: #0d6efd">
                                                <i class="far fa-thumbs-up"></i>
                                            </a>
                                        </form>
                                        <span class="badge bg-primary">{{ noticia.deslikes }}</span>
                                        <form class="d-inline-block" action="" method="POST">
                                            {% csrf_token %}
                                            {{ noticia_form.noticia_id }}
                                            <!-- <input type="hidden" name="noticia_id" value="{id_da_noticia}" id="id_noticia_id"> -->
                                            <a class="ps-1 pe-1 btn-dislike-click" data-clicked="false" type="button" style="color: #0d6efd">
                                                <i class="far fa-thumbs-down"></i>
                                            </a>
                                        </form>


                                    </div>
                                </div>

                                <div class="caption">
                                    <a href="{% url 'noticias:noticia' id=noticia.id slug=noticia.slug %}" style="color: rgb(65, 65, 65);" class="nav-link navbar-item-hover"
                                        aria-current="page">
                                        <h4><b>{{ noticia.titulo }}</b></h4>
                                    </a>
                                </div>

                                <div class="caption">
                                    <p style="color:rgb(133, 133, 133); font-size: 0.9em" class="nav-link">
                                        {{ noticia.desc_mini }}
                                    </p>
                                </div>

                            </div>
                            <div class="card-footer p-0 footer-limpo">
                                <div class="caption">
                                    <a href="{% url 'noticias:noticia' id=noticia.id slug=noticia.slug %}" style="color: rgb(65, 65, 65);" class="nav-link navbar-item-hover"
                                        aria-current="page">
                                        <p class="display-1" style="font-size: 0.80em;">VEJA MAIS</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}



            </div>
        </div>

    </div>

    <div style="border-top: solid rgb(202, 202, 202)"><br><br><br><br><br><br>&nbsp;</div>

        <!--toast-->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="toast-promo-relampago" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <i class=" me-2 fas fa-shopping-cart"></i>
            <strong class="me-auto">Promoção Relâmpago</strong>
            <small>agora</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            Loja inteira com 30% de desconto. <a href="https://www.redemarketfacil.com.br/produtos/colecoes/182/nomoo">Clique aqui.</a>
          </div>
        </div>
      </div>
{% endblock %}